<%= hidden_field_tag :start_date, @start_date %> 
<%= hidden_field_tag :filter_url, filter_records_path %>
<div class="m-auto d-flex flex-column fs-2" data-controller="table">
  <%= render partial: 'datepicker' %>
  <div class="errors row mb-2"></div>
  <%= render partial: 'control_buttons' %>
  <div class="new-form-container fs-2"></div>
  <div class="table-container">
    <%= render partial: 'table' %>
  </div>
</div>
