<div class="table-container m-auto d-flex flex-column fs-2" data-controller="table">
  <%= render partial: 'datepicker' %>
  <div class="row mb-2">
    <div class="col-sm-3 d-flex">
      <button class="btn btn-success fs-2 ms-2 w-25">+</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped-columns">
        <thead>
          <tr>
            <th>#</th>
            <th>
              <label class="checkbox-label d-flex align-items-center">
                <input type="checkbox" id="select-all-checkbox" data-action="click->table#toggleSelection" />
                <span class="checkmark"></span>
              </label>
            </th>
            <th>Name</th>
            <% days_in_month.each do |day| %>
              <th><%= day %></th>
            <% end %>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @records.each_with_index do |record, index| %>
            <tr id="record_<%= record.id %>">
              <td><%= index + 1 %></td>
              <td>
                <label class="checkbox-label d-flex align-items-center">
                  <%= check_box_tag "record_ids[]", record.id, false, 
                      class: 'record-select-checkbox',
                      data: { record_id: record.id } %>
                  <span class="checkmark"></span>
                </label>
              </td>
              <td><%= record.name %></td>
              <% record.record_completions.each do |completion| %>
                <td class="text-center">
                  <%= check_box_tag "completion_#{record.id}_#{completion.id}", 
                      "1", 
                      completion.completed, 
                      class: 'day-completion-checkbox',
                      data: {
                        url: record_completion_path(completion.id), 
                        method: :patch,
                        remote: true,
                        params: { record_completion: { completed: !completion.completed } }.to_json
                      } %>
                </td>
              <% end %>
              <td>
                <%= button_to "×", 
                    record_path(record), 
                    method: :delete,
                    class: 'btn btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="<%= days_in_month.size + 4 %>">
              <%= "Total completed tasks: #{@total_completed}" %>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
